---
// Starlight components & layouts
import {Card, CardGrid} from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---
<html>
<head>
    <meta charset="UTF-8"/>
    <title>严阵以待中国百科</title>
    <meta
            name="description"
            content="在严阵以待中国百科了解关于 Ready Or Not 的一切：购买指南、100%成就指南、武器&弹药数据、剧情信息、模组按照..."
    />
</head>
<body>
<StarlightPage
        frontmatter={{
            title: '严阵以待中国百科',
            description: '',
            template: 'splash',
            hero: {
                title: '你想要了解的<br/>关于严阵以待的一切',
                tagline: '专为中国严阵以待玩家打造的百科全书',
                actions: [
                    {
                        text: '快速上手',
                        link: '/wiki/get-started/',
                        icon: 'right-caret',
                        variant: 'primary',
                    },
                ],
            }
        }}
>

    <CardGrid stagger>
        <Card title='从入门到精通' icon='bars'>
            喂喂？这里是LinTK编辑的，啊...（从哪开始说呢）...现在是在测试网页的状态，这是我与 长安 的合作百科项目，总之感谢各位对于百科的支持！
            <br/>
            //这两周要累死了累死了累死了累死了累死了累死了累死了累死了累死了累死了累死了累死了累死了累死了
        </Card>
        <Card title='细致无比的教学和深入' icon='apple'>
            不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么不知道写什么
        </Card>
        <Card title='全方面覆盖' icon='setting'>
            不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了不管了
        </Card>
        <Card title='还有什么' icon='rocket'>
            先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧先这样放着吧
        </Card>
        <Card title='死脑子快想' icon='list-format'>
            之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写之后再写
        </Card>
    </CardGrid>

</StarlightPage>
</body>
</html>
