---
import Adaptive from '@components/Adaptive.astro';
---

<div class='footer-container'>
    <div class='brand not-content'>
        <h1 class='brand-name'>严阵以待中国百科</h1>
    </div>

    <div class='credits'>
        <Adaptive mobile>
            <div class='info-item' id='left'>
                <p>
                    百科内容由 LinTK（凌卡）创作
                </p>
                <p>
                    本网页内容基于 Notion 版本
                    <a href="https://foam-marlin-690.notion.site/1f6f40c184f980ebb91af8f1bb8b9224?v=1f6f40c184f98015ba35000cdce9ba43">「严阵以待中国百科」</a>
                    ，由 LinTK 依据 CC BY-NC-SA 4.0 许可协议授权使用。要查看该许可协议的副本，请访问
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons</a>
                </p>
                <blockquote>
                    本百科中引用的游戏截图、角色名称、术语、原文台词等素材，其版权归 <strong>Ready Or Not</strong> 原开发商 <strong>VOID Interactive</strong> 所有，使用仅作非商业性玩家研究与交流之目的。
                    若权利方认为相关内容不适宜公开，敬请联系删除。
                </blockquote>
                <p>
                    电子邮箱：lintruck@foxmail.com
                </p>
            </div>
            <div class='info-item' id='right'>
                <p>
                    由先进的 <a href="https://astro.build/">Astro</a> 框架驱动
                    <br />
                    网站由 长安 (2073) 创作和托管
                </p>
            </div>
        </Adaptive>
    </div>
</div>

<style>
    .footer-container {
        width: 100%;
        text-align: left;
        padding-top: 5rem;
    }

    .footer-container .brand {
        display: inline-block;
    }

    :root .footer-container .brand .logo {
        filter: none;
        width: 3rem;
        vertical-align: middle;
    }

    .footer-container .brand .brand-name {
        display: inline-block;
        vertical-align: middle;
        font-family: "WDXL Lubrifont SC", sans-serif;
    }

    div#right {
        text-align: right;
    }

    @media (width < 50rem) {
        .footer-container {
            text-align: center;
        }

        div#right {
            text-align: inherit;
        }
    }

    .footer-container .credits {
        margin-top: 1rem;
    }

    p {
        line-height: 2rem;
    }
</style>
