---

---

<div class='footer-container'>
    <center>
        <div class='brand'>
            <h1 class='brand-name'>严阵以待中国百科</h1>
        </div>
        <div class='info-item'>
            <p><a href='https://ron-cn-wiki.ru/copyright-n-statement'>
                <b>版权信息和声明</b>
            </a></p>
        </div>

        <div class='credits'>
            <div class='info-item'>
                <p>
                    由 <a href="mailto：lintruck@foxmail.com">LinTK（凌卡）</a> 依据
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 许可协议授权使用
                </p>
                <p>
                    由先进的 <a href="https://astro.build/">Astro</a> 框架驱动，
                    网站由 长安 (2073) 创作和托管
                </p>
            </div>
        </div>
    </center>
</div>

<style>
    .footer-container {
        width: 100%;
        text-align: left;
        padding-top: 5rem;
    }

    .footer-container .brand {
        display: inline-block;
    }

    :root .footer-container .brand .logo {
        filter: none;
        width: 3rem;
        vertical-align: middle;
    }

    .footer-container .brand .brand-name {
        display: inline-block;
        vertical-align: middle;
        font-family: "WDXL Lubrifont SC", sans-serif;
    }

    div#right {
        text-align: right;
    }

    @media (width < 50rem) {
        .footer-container {
            text-align: center;
        }

        div#right {
            text-align: inherit;
        }
    }

    .footer-container .credits {
        margin-top: 1rem;
    }

    p {
        line-height: 2rem;
    }
</style>
